.App {
  height: 100%;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.blog-list-container {
  width : 80%;
}

.blog-container {
  cursor: pointer;
}
